<?xml version="1.0" encoding="utf-8"?>
<direct>
{% for rule in firewalld_direct_rules %}
  <rule ipv="{{ rule.ipv }}" table="{{ rule.table }}" chain="{{ rule.chain }}" priority="{{ rule.priority }}">{{ rule.rule }}</rule>
{% endfor %}
</direct>