<?xml version="1.0" encoding="utf-8"?>
<!-- Managed by ansible. -->
<!-- file: {{ template_destpath }} -->
<direct>
{% for __firewalld_rule in firewalld_direct_rules %}
  <rule ipv="{{ __firewalld_rule.ipv | e }}" table="{{ __firewalld_rule.table | e }}" chain="{{ __firewalld_rule.chain | e }}" priority="{{ __firewalld_rule.priority | e }}">{{ __firewalld_rule.rule | e }}</rule>
{% endfor %}
</direct>
