<?xml version="1.0" encoding="utf-8"?>
<!-- Managed by ansible. -->
<!-- file: {{ template_destpath }} -->
<ipset type="{{ __firewalld_item.type | e }}" {% if __firewalld_item.version is defined %}version="{{ __firewalld_item.version | e }}"{% endif %}>
{% if __firewalld_item.short is defined %}
  <short>{{ __firewalld_item.short | e }}</short>
{% endif %}
{% if __firewalld_item.description is defined %}
  <description>{{ __firewalld_item.description | e }}</description>
{% endif %}
{% for __firewalld_option in __firewalld_item.options | default([]) %}
  <option name="{{ __firewalld_option.name | e }}" {% if __firewalld_option.value is defined %}value="{{ __firewalld_option.value | e }}"{% endif %}/>
{% endfor %}
{% for __firewalld_entry in __firewalld_item.entries | default([]) %}
  <entry>{{ __firewalld_entry | e }}</entry>
{% endfor %}
</ipset>
