<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>{{ item.name }}</short>
  <description>{{ item.description | default(item.name + " service") }}.</description>
{% for port in item.ports %}
  <port protocol="{{ port.protocol }}" port="{{ port.port }}"/>
{% endfor %}
</service>
